.contato {
  .form-contato {
    max-width: 680px;
    margin: 0 auto;

    form {
      padding: 0 3.5px;
      font-size: 13px;
    }

    .cols {
      padding-left: 8.5px;
      padding-right: 8.5px;
    }
    input, textarea {
      border: none;
      @include border-radius(5px);
    }
    input {
      height: 46px;
    }
    textarea {
      max-height: 200px;
    }
    button[type="submit"] {
      margin-top: 22px;
      font-size: 12px;
      text-transform: uppercase;
      width: 160px;
      height: 40px;
      font-weight: 500;
      color: $color-4;
      border: none;
      background: $color-3;
      @include border-radius(10px);
      @include box-shadow(0 5px 10px rgba(0,0,0,0.16));
    }
  }
}
